@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .section-layout{
        @apply sm:px-16 sm:py-10 px-4 py-6
    }
    .social-icon{
         @apply rounded-full border-[0.5px] border-[#241915] p-[8px] m-1 cursor-pointer hover:bg-[#241915] duration-300
    }
    .social-icon2{
        @apply rounded-full border-[0.5px] border-[#313030b0] p-[8px] m-1 cursor-pointer hover:bg-[#313030b0] duration-300
    }
}